.body{
    background-color: #f2f2f2;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
}

.text-box {
    background-color: #d9d9d9;
    padding: 30px;
    height: 100%;
}

.hrdivide{
    border: none;
    height: 4px;
    background-color: black;
    margin: 40px 0;
}

.list{
    padding-left: 10px;
}

.my-4{
    height: 2px;
}